* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Open Sans', Arial, sans-serif;
    width: 100%;
}
h1 {
    font-family: 'Open Sans', Arial, sans-serif;
    width: 100%;
}
main {
    margin: 0 auto;
}
#content {
    padding: 5px;
    margin-left: 5px;
}
.buttons {
    padding: 5px;
    margin: 5px;
    width: 35px;
    height: 35px;
}
.choices {
    padding: 5px;
    margin: 5px;
    width: 80%;
    height: 50px;
}